/* ** Overlay Mixin ** prefixes Mixin ** Animation Mixin */
@mixin Overlay($position) {
    position: $position;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
@mixin dimensions($width, $height, $type) {
    width:  #{$width}#{$type};
    height: #{$height}#{$type};
}
@mixin dFlex($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin overflowTextVertical($line) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
}

@mixin border-radius($val) {
    border-radius: $val !important;
    -webkit-border-radius: $val !important;
    -moz-border-radius: $val !important;
    -ms-border-radius: $val !important;
    -o-border-radius: $val !important;
}

@mixin Prefixer($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-'+$prefix+'-'+$property}: $value;
    }

    #{$property}: $value;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }

    @-moz-keyframes #{$animation-name} {
        @content;
    }

    @-ms-keyframes #{$animation-name} {
        @content;
    }

    @keyframes #{$animation-name} {
        @content;
    }
}

@include keyframes(spin){
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

$theme-colors: (
    primary: #43AA3A,
    dark: #414042,
    lightgray: #F9F9F9,
    darkGray: #9F9F9F,
    black: #000,
    white: #fff,
    red: #D71D1D,
    placeholder: #949494,

    selectionBg: #000,
    selectionColor: #fff,
    scrollTrackBg: #F2F2F2,
    scrollThumbBg: #cdcdcd,
);

// Tint a color: mix a color with white
@function tint-color($color, $weight) {
    @return mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
    @return mix(black, $color, $weight);
}


@each $color,
$value in $theme-colors {

    .btn-light-#{$color + ""},
    .bg-light-#{$color + ""} {
        // color: $value !important;
        background-color: tint-color($value, 20%) !important;
    }

    .btn-outline-#{$color + ""} {
        color: $value;
        border-color: $value;
    }

    .btn-#{$color + ""},
    .bg-#{$color + ""} {
        // color: $value !important;
        background-color: $value !important;
        border-color: $value !important;
    }

    .btn-gradient-#{$color + ""},
    .bg-gradient-#{$color + ""} {
        background-image: linear-gradient(to right, shade-color($value, 22%), tint-color($value, 5.0%)) !important;
    }

    .border-light-#{$color + ""} {
        border-color: tint-color($value, 20%) !important;
    }

    .border-#{$color + ""} {
        border-color: $value !important;
    }

    .text-light-#{$color + ""} {
        color: tint-color($value, 20%) !important;
    }

    .text-#{$color + ""} {
        color: $value !important;
    }

    .btn-light-#{$color + ""} {

        &:hover,
        &:active,
        &:focus {
            background-color: $value !important;
            color: tint-color($value, 20%) !important;

        }
    }

    .btn-#{$color + ""} {

        &:hover,
        &:active,
        &:focus {
            background-color: tint-color($value, 20%) !important;
            // color: $value !important;

        }
    }
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px map_get($theme-colors, scrollTrackBg);
    -moz-box-shadow: inset 0 0 6px map_get($theme-colors, scrollTrackBg);
    -o-box-shadow: inset 0 0 6px map_get($theme-colors, scrollTrackBg);
    box-shadow: inset 0 0 6px map_get($theme-colors, scrollTrackBg);
    @include border-radius(10px);
}

::-webkit-scrollbar-thumb {
    @include border-radius(10px);
    background-color: map_get($theme-colors, scrollThumbBg);
    -webkit-box-shadow: inset 0 0 6px map_get($theme-colors, scrollThumbBg);
    -moz-box-shadow: inset 0 0 6px map_get($theme-colors, scrollThumbBg);
    -o-box-shadow: inset 0 0 6px map_get($theme-colors, scrollThumbBg);
    box-shadow: inset 0 0 6px map_get($theme-colors, scrollThumbBg);
}

::selection {
    background: map_get($theme-colors, darkGray);
    color: map_get($theme-colors, dark);
}

body{
    font-family: 'Cairo', sans-serif;
    color: map_get($theme-colors, black);
    &.stop-scroll {
        overflow: hidden;
    }
    &.rtl{
        direction: rtl;
        text-align: right;
    }
}

a {
    color: map_get($theme-colors, dark);
    text-decoration: none;
    &:hover{
        color: map_get($theme-colors, primary);
    }
}

.form-check-input{
    cursor: pointer;
    &:checked {
        border-color: map_get($theme-colors, darkGray);
    }
    &[type=radio]{
        width: 1.25em;
        height: 1.25em;
        &:checked {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%2343AA3A'/%3e%3c/svg%3e");
            background-color: map_get($theme-colors, white);
        }
    }
    &[type=checkbox]{
        &:checked {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%2343AA3A' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
            border-color: map_get($theme-colors, darkGray) !important;
            background-color: map_get($theme-colors, white) !important;
        }
    }
}

.fw-300{
    font-weight: 300;
}

.fw-500{
    font-weight: 500;
}

.fw-600{
    font-weight: 600;
}

.h5, h5{
    @media (max-width: 575.98px) {
        font-size: 1rem !important;
    }
}

.py-5 {
    @media (max-width: 991.98px) {
        padding-top: 1.5rem!important;
        padding-bottom: 1.5rem!important;
    }
}

.btn{
    &:focus{
        box-shadow: unset;
    }
}

input{
    &:focus-visible {
        outline: none;
    }
}

.form-control,
.form-select{
    &:focus {
        border-color: rgba( map_get($theme-colors, primary), .5);
        box-shadow: 0 0 0 2px rgba( map_get($theme-colors, primary), .15);
    }   
}

.form-check-input{
    &:focus{
        box-shadow: unset;
    }
    &:checked[type=checkbox]{
        background-color: map_get($theme-colors, primary);
        border-color: transparent;
        background-size: 20px;
    }
}

.overlay {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(235 , 235 , 235 , 0.5);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    z-index: 999;
    cursor: url(../images/cancel.png), auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn{
    border-radius: 10px;
}

%rating {
    .rating-container {
        .rating-stars {
            outline: none;
            border: none;
        }
        .filled-stars {
            left: auto;
            right: 0;
            transform: unset;
        }
    }
    .rating-input,
    .clear-rating,
    .caption {
        display: none;
    }

    .rating-sm {
        font-size: 16px;
    }

    .rating-md {
        font-size: 24px;
    }

    .empty-stars{
        color: map_get($theme-colors, darkGray);
    }
    .filled-stars {
        i {
            color: #ffc107;
        }
    }

    .filled-stars {
        -webkit-text-stroke: unset;
        text-shadow: unset;
    }

    .caption-secondary {
        background-color: transparent;
        color: #ffc107;
    }
}

%quantity{
    .quantity {
        height: 35px;
        padding: 5px;
        display: flex;
        width: fit-content;
        justify-content: space-between;
        border: 1px solid rgba(map_get($theme-colors, darkGray), .2);
        border-radius: 8px;
        @media (max-width: 575.98px) {
        }
        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: unset;
        }
        .qtyminus,
        .qtyplus{
            font-size: 18px;
            border: 0;
            background-color: transparent;
            line-height: 1;
            &:hover{
                color: map_get($theme-colors, primary);
            }
        }
    
        .qty {
            border: none;
            text-align: center;
            max-width: 45px;
            background: transparent;
            border-inline: 1px solid rgba(map_get($theme-colors, darkGray), .2);
        }
    }
}

#header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: map_get($theme-colors, white);
    z-index: 999;
    @media (max-width: 991.98px) {
        height: 60px;
    }
    &.sticky-header {
        box-shadow: 0 0 10px #cfcfcf;
    }
    .top-header{
        height: 60px;
        display: flex;
        align-items: center;
        color: map_get($theme-colors, white);
        background-color: map_get($theme-colors, dark);
        .user-account,
        .notify{
            position: relative;
            .user-icon{
                cursor: pointer;
            }
            .name {
                position: relative;
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 14px;
                cursor: pointer;
                img{
                    border-radius: 50%;
                    width: 25px;  
                    aspect-ratio: 1/1;  
                }
                .user-name{
                    max-width: 100px;
                    @include overflowTextVertical(1);
                    display: -webkit-inline-box;
                }

                .open {
                    display: none;
                }
            }
            .dropdown{
                position: absolute;
                right: -20px;
                top: 30px;
                width: 220px;
                height: 0;
                overflow: hidden;
                border-radius: 10px;
                background-color: map_get($theme-colors, white);
                box-shadow: 0px 4px 9px 0px #0000001A;
                transition: all .3s ease-in-out;
                z-index: 1;
                ul {
                    padding: 10px;
                    margin-bottom: 0;
                    li {
                        &:not(:first-child){
                            padding-top: 5px;
                        }
                        &:not(:last-child){
                            padding-bottom: 5px;
                            border-bottom: 1px solid #EBD8FF;
                            
                        }
                        a{
                            @include dFlex(center, start);
                            column-gap: 5px;
                            font-size: 15px;
                            font-weight: 600;
                            color: map_get($theme-colors, dark);
                            transition: all .3s ease-in-out;
                            .icon{
                                width: 32px;
                                height: 32px;
                                @include dFlex(center, center);
                                background: #e4e4e4;
                                border-radius: 50%;

                            }
                            &:hover {
                                color: map_get($theme-colors, primary);
                            }
                        }
                    }
                }
            }
            &:hover{
                .dropdown{
                    height: 185px;
                }
            }
        }
        .address,
        .lang{
            position: relative;
            cursor: pointer;
            .dropdown{
                height: 0;
                position: absolute;
                top: calc(100% + 10px);
                background: map_get($theme-colors, white);
                border-radius: 10px;
                overflow: hidden;
                box-shadow: 0px 4px 9px 0px #0000001A;
                transition: all 0.4s ease;
                z-index: 2;
                ul {
                    padding: 5px 10px;
                    li {
                        padding-block: 8px;
                        font-size: 14px;
                        @include dFlex(center, center);
                        column-gap: 5px;
                        color: map_get($theme-colors, dark);
                        &:not(:last-child) {
                            border-bottom: 1px solid #EBD8FF;
                        }
                        &:hover {
                            color: map_get($theme-colors, primary);
                        }
                    }
                }
            }
            &:hover{
                .dropdown {
                    height: 100px;
                }
            }
        }
        .address{
            p{
                font-size: 12px;
            }
            .dropdown{
                width: 218px;
                ul {
                    li {
                        span{
                            @include overflowTextVertical(1);
                        }
                    }
                }
            }
            &:hover{
                .dropdown {
                    height: 160px;
                }
            }
        }
        .lang{
            img{
                width: 20px;
            }
            .icon{
                font-size: 12px;
            }
            .dropdown{
                width: 120px;
                ul {
                    li{
                        justify-content: start;
                    }
                }
            }
            &:hover{
                .dropdown {
                    height: 85px;
                }
            }
        }
        .search{
            .input-group {
                position: relative;
                .form-control {
                    width: 450px;
                    padding-inline-start: 35px;
                    border-radius: 0.25rem !important;
                    @media (max-width: 1199.98px) {
                        width: 300px;
                    }
                }
                .input-group-text {
                    position: absolute;
                    background: transparent;
                    height: 100%;
                    color: map_get($theme-colors, darkGray);
                    border: 0;
                    z-index: 999;
                }
            }
        }
        .notify{
            .dropdown{
                width: 200px;
                ul {
                    li{
                        justify-content: start;
                    }
                }
            }
            &:hover{
                .dropdown {
                    height: 180px;
                }
            }
        }
        a{
            color: map_get($theme-colors, white);
            &:hover{
                color: map_get($theme-colors, primary);
            }
        }
    }
    .bottom-header{
        padding: 10px 0;
        background-color: map_get($theme-colors, white);
        .navbar-logo {
            img {
                width: 100px;
            }
        }
        #main-menu{
            @media (max-width: 991.98px){
                position: fixed;
                top: 0;
                left: -300px;
                width: 300px;
                height: 100%;
                padding: 15px;
                background-color: #fff;
                z-index: 1024;
            }
            @media (max-width: 575.98px){
                left: -200px;
                width: 200px;
            }
            .navbar{
                column-gap: 30px;
                @media (min-width: 992px) and (max-width: 1199.98px){column-gap: 15px;}
                li{
                    @media (max-width: 991.98px) {
                       margin-bottom: 10px; 
                    }
                    a{
                        font-weight: 600;
                        color: map_get($theme-colors, black);
                        transition: all .2s ease-in-out;
                        &:hover,
                        &.active{
                            color: map_get($theme-colors, primary);
                        }
                    }
                }
            }
        }
    }
}

#mobile-header{
    background-color: map_get($theme-colors, lightgray);
    .top-content{
        padding: 10px 0;
    }
    .menu-icon {
        position: relative;
        width: 25px;
        height: 20px;
        cursor: pointer;
        span {
            height: 4px;
            width: 100%;
            position: absolute;
            left: 0;
            transition: all 0.3s ease;
            background-color: map_get($theme-colors, dark);
            border-radius: 30px;
            &:first-child {
                top: 0;
            }
    
            &:nth-child(2) {
                top: 7px;
                width: 80%;
            }
    
            &:last-child {
                top: 14px;
            }
        }
    
        &.open,
        &:hover {
            span {
                &:nth-child(2) {
                    opacity: 0;
                }
    
                &:first-child,
                &:last-child {
                    top: 6px;
                }
    
                &:first-child {
                    transform: rotate(45deg);
                }
    
                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
    }
    .navbar-logo{
        img{
            width: 75px;
        }       
    }
    .search{
        padding: 10px 0;
        .input-group {
            position: relative;
            .form-control {
                width: 200px;
                padding-inline-start: 35px;
                border: 1px solid #E7E7E7;
                border-radius: 10px !important;
            }
            .input-group-text {
                position: absolute;
                background: transparent;
                height: 100%;
                color: map_get($theme-colors, darkGray);
                border: 0;
                z-index: 999;
            }
        }
    }
    .address {
        padding: 10px;
        color: map_get($theme-colors, white);
        background-color: map_get($theme-colors, dark);
    }
    #main-menu{
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100%;
        padding: 15px;
        background-color: #F9F9F9;
        z-index: 1024;
        ul {
            li {
                margin-bottom: 5px;
                a{
                    color: map_get($theme-colors, dark);
                    &:hover,
                    &.active{
                        color: map_get($theme-colors, primary);
                    }
                }
            }
        }
    }
}

footer{
    margin-top: 60px;
    #footer{
        padding: 45px 0;
        color: map_get($theme-colors, white);
        background-color: map_get($theme-colors, dark);
        .footer-logo{
            margin-bottom: 15px;
            img{
                width: 120px;
            }
        }
        .contact-us{
            font-size: 20px;
            font-weight: 600;
            @media (max-width: 479.98px) {
                font-size: 16px;
            }
        }
        .title{
            position: relative;
            padding-inline-start: 12px;
            &::before{
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                top: 50%;
                left: 0;
                background-color: map_get($theme-colors, primary);
            }
        }
        ul {
            padding-inline-start: 12px;
            list-style: none;
            li {
                margin-bottom: 10px;
                a {
                    font-size: 15px;
                    color: map_get($theme-colors, white);
                    &:hover{
                        color: map_get($theme-colors, primary);
                    }
                    @media (max-width: 575.98px) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    #copyright{
        padding: 20px 0;
        .social{
            li {
                a {
                    font-size: 24px;
                    color: map_get($theme-colors, dark);
                    &:hover{
                        color: map_get($theme-colors, primary);
                    }
                }
            }
        }
    }
}

#main-wrapper{
    margin-top: 145px;
    @media (min-width: 992px) {
        min-height: calc( 100vh - 561px );
    }
    @media (max-width: 991.98px) {
        margin-top: 10px;
    }
}

#banner,
#second-banner{
    img{
        max-height: 400px;
        object-fit: cover;
    }
    .owl-carousel {
        .owl-nav {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: space-between;
            padding: 0 15px;
            button {
                &:hover{
                    color: map_get($theme-colors, primary);
                }
            }
        }
    }
}

#categories{
    .row {
        @media (max-width: 767.98px) {
            margin: 0;
            >div {
                padding: 0;
            }
        }
    }
    .cat-card{
        height: 100%;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 15px 21px 10px 0px #00000003;
        @media (max-width: 767.98px) {
            border-radius: 0;
            box-shadow: unset;
        }
        img {
            aspect-ratio: 1 / 1;
            @media (max-width: 767.98px) {
                aspect-ratio: unset;
            }
        }
        .content-txt {
            position: absolute;
            bottom: 45px;
            padding: 0 30px;
            @media (max-width: 991.98px) {
                bottom: 20px;
            }
            @media (max-width: 767.98px) {
                padding: 0 10px;
                width: 100%;
                text-align: center;
            }
            .title{
                a{
                    width: 180px;
                    display: inline-block;
                    font-size: 45px;
                    font-weight: bold;
                    color: map_get($theme-colors, white);
                    @media (max-width: 991.98px) {
                        width: 110px;
                        font-size: 32px;
                    }
                    @media (max-width: 576.98px) {
                        width: 80px;
                        font-size: 22px;
                    }
                }
            }
            .btn-more{
                min-width: 150px;
                padding: 10px 0;
                border-radius: 10px;
                color: map_get($theme-colors, white);
                background-color: map_get($theme-colors, dark);
                @media (max-width: 991.98px) {
                    min-width: 130px;
                    padding: 6px 0;
                    border-radius: 6px;
                }
                @media (max-width: 576.98px) {
                    min-width: 100px;
                    font-size: 14px;
                }
                @media (max-width: 379.98px) {
                    min-width: 70px;
                    font-size: 10px;
                }
            }
        }
    }
}

#brands{
    .brand-card{
        height: 100%;
        img{
            width: 90px;
            height: 110px;
            margin: 0 auto;
            border: 1px solid #D9D9D9;
            border-radius: 10px;
            @media (max-width: 397.98px) {
                width: 80px;
                height: 100px;
            }
        }
    }
}

#specific-offers{
    padding: 20px 0;
    background-color: map_get($theme-colors, lightgray);
    .pro-card{
        padding: 10px;
        height: 100%;
        background-color: map_get($theme-colors, white);
        border-radius: 10px;
        @media (max-width: 575.98px) {
            padding: 8px;
        }
        .img{
            overflow: hidden;
            img{
                transition: all .3s ease-in-out;
                aspect-ratio: 1/1;
            }
        }
        .pro-name{
            @include overflowTextVertical(1);
            a{
                color: map_get($theme-colors, dark);
                &:hover{
                    color: map_get($theme-colors, primary);
                }
            }
        }
        .btn-offer{
            width: 100%;
            padding: 6px 4px;
            font-size: 14px;
            color: map_get($theme-colors, white);
            background-color: map_get($theme-colors, red);
            border-radius: 10px;
            @media (max-width: 575.98px) {
                padding: 6px 2px;
                font-size: 10px;
                border-radius: 4px;
            }
        }
        &:hover{
            .img{
                img{
                    transform: scale(.95);
                }
            }   
        }
    }
}

#most-requested {
    .owl-carousel {
        .owl-stage {
            display: flex;
        }
    }
}
#most-requested,
#brand-products,
#dept-products {
    .pro-card{
        height: 100%;
        padding: 10px;
        border: 1px solid #E7E7E7;
        border-radius: 10px;
        .img{
            img{
                width: 100%;
                height: 140px;
                object-fit: cover;
                border-radius: 10px;
            }
        }
        .pro-header{
            position: relative;
            .btn-wishlist{
                position: absolute;
                top: 5px;
                right: 5px;
                width: 32px;
                height: 32px;
                @include dFlex(center, center);
                background-color: #fff;
                border-radius: 50%;
                font-size: 20px;
                cursor: pointer;
                &.liked{
                    i {
                        color: #ec6969;
                        font-weight: bold;
                        transform: scale(1.05);
                    }
                }
            }
        }
        .pro-body{
            @extend %rating;
            .pro-name{
                @include overflowTextVertical(1);
            }
            .rating-md{
                font-size: 14px
            }
            .pro-desc{
                @include overflowTextVertical(2);
                font-size: 15px;
            }
            .plate{
                column-gap: 5px;
                label{
                    span {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
            }
            .btn {
                border-radius: 10px;
            }
        }
    }
}

#var-offers{
    .offer-card{
        height: 100%;
        padding: 12px;
        background-color: map_get($theme-colors, lightgray);
        border-radius: 10px;
        box-shadow: -3px 6px 7px 0px #00000017;
        .offer{
            img {
                border-radius: 10px;
            }
        }
        &.four-offers{
            .offers-list{
                column-gap: 10px;   
            }
            .offer{
                width: calc(50% - 10px);
                img{
                    width:100%;
                    aspect-ratio: 1/1;
                }
                p{
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
        &.two-offers{
            .offer{
                width: 100%;
                img{
                    width:100%;
                    height: 110px;
                    object-fit: cover;
                    @media (max-width: 1199.98px) {
                        height: 85px;
                    }
                    @media (max-width: 767.98px) {
                        height: 150px;
                    }
                }
            }
        }
    }
}

#latest-offers{
    .discount {
        position: absolute;
        top: 8px;
        left: 8px;
        padding: 3px 9px;
        font-size: 12px;
        z-index: 2;
        color: #fff;
        background: #D71D1DBF;
        border-radius: 14px;
    }
    .pro-name{
        @include overflowTextVertical(1);
    }
}

#login-card{
    width: 650px;
    margin: 0 auto;
    padding: 30px;
    background: map_get($theme-colors, lightgray);
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px #00000029;
    @media (max-width: 991.98px) {
        width: 550px;
    }
    @media (max-width: 767.98px) {
        width: 450px;
    }
    @media (max-width: 575.98px) {
        width: 300px;
        padding: 20px;
    }
    .logo{
        img {
            width: 120px;
        }
    }
    .form-input{
        position: relative;
        .icon{
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: 4px;
            color: map_get($theme-colors, darkGray);
            cursor: pointer;
        }
    }
    .divider {
        position: relative;
        text-align: center;
        margin: 30px 0;
        border-top: 1px solid #e0e0e0;
        span {
            position: absolute;
            top: 50%;
            right: 50%;
            padding: 0 10px;
            font-weight: 700;
            background: map_get($theme-colors, lightgray);
            transform: translate(50%, -50%);
        }
    }    
    .login-by{
        width: 60px;
        height: 60px;
        @include dFlex(center, center);
        background: map_get($theme-colors, white);
        border-radius: 50%;
        box-shadow: 0px 0px 4px 0px #00000040;
        @media (max-width: 575.98px) {
            width: 45px;
            height: 45px;
            img{
                width: 25px;
            }
        }
    }
    .code-input {
        width: 80px;
        height: 80px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-inline-end: 10px;
        border: 1px solid #E7E7E7;
        @media (max-width: 575.98px) {
            width: 60px;
            height: 60px;
        }
    }
}

.card{
    padding: 20px;
    border: 0;
    background: map_get($theme-colors, lightgray);
    box-shadow: 0px 0px 6px 0px #00000029;
    border-radius: 10px;
}

.card{
    .address-card{
        height: 100%;
        padding: 10px;
        background-color: map_get($theme-colors, white);
        border-radius: 10px;
        border: 1px solid map_get($theme-colors, lightgray);
        box-shadow: 0px 0px 4px 0px #00000029;
        transition: all .2s ease-in-out;
        .top-card{
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid map_get($theme-colors, darkGray);
        }
        table {
            td{
                padding-bottom: 5px;
                &:first-child{
                    color: map_get($theme-colors, darkGray);
                    padding-inline-end: 15px;
                }
                @media (max-width: 479.98px) {
                    display: block;
                    font-size: 14px;
                }
            }
        }
        &:hover{
            border-color: rgba(map_get($theme-colors, primary), .5);
        }
    }
}

#addresses{
    #new-address{
        @media (min-width: 992px) {
            padding-inline: 45px;
        }
        .btn-map{
            transition: all .2s ease-in-out;
            &:hover{
                color: #fff;
            }
        }
    }
}

.mapModal{
    .input-search {
        width: calc(100% - 20px);
        position: absolute;
        top: 10px;
        padding: 5px 8px;
        margin: 0 10px;
        background: #fff;
        border: 1px solid #E7E7E7;
        border-radius: 10px;
        z-index: 1;
        .icon{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: map_get($theme-colors, darkGray);
        }
        input {
            width: 100%;
            font-size: 14px;
            padding-inline-start: 20px;
            border: 0;
        }
    }
    #map {
        height: 500px;
        border-radius: 10px;
    }
}

#orders{
    .order-card{
        height: 100%;
        padding: 10px;
        background: map_get($theme-colors, white);
        border-radius: 10px;
        overflow: hidden;
        .top-card{
            padding: 10px;
            background: map_get($theme-colors, lightgray);
            border-radius: 10px;
            @media (max-width: 575.98px) {
                font-size: 14px;
            }
            .bill{
                @media (max-width: 767.98px) {
                    width: 100%;
                    a{
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
        .order-status {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-block: 15px 20px;
            &::before{
                content: '';
                position: absolute;
                top: 20px;
                width: 80%;
                height: 1px;
                background: map_get($theme-colors, dark);
                z-index: 1;
                @media (max-width: 479.98px) {
                    top: 15px;
                }
            }
            .order-tracking {
                position: relative;
                width: calc(100% / 5);
                text-align: center;
                z-index: 2;
                .count {
                    width: 40px;
                    height: 40px;
                    padding: 5px;
                    margin: 0 auto 10px; 
                    @include dFlex(center, center);
                    border-radius: 50%;
                    background-color: map_get($theme-colors, white);
                    box-shadow: 0px 0px 5px 0px #00000033;
                    @media (max-width: 479.98px) {
                        width: 30px;
                        height: 30px;
                    }
                    span{
                        width: 100%;
                        height: 100%;
                        @include dFlex(center, center);
                        margin: 0 auto;
                        font-weight: bold;
                        background-color: map_get($theme-colors, darkGray);
                        border-radius: 50%;
                        @media (max-width: 479.98px) {
                            font-size: 10px;
                        }
                    }
                }
                .title{
                    color: map_get($theme-colors, darkGray);
                    @media (max-width: 767.98px) {
                        font-size: 14px;
                    }
                    @media (max-width: 575.98px) {
                        font-size: 12px;
                    }
                    @media (max-width: 479.98px) {
                        font-size: 7px;
                    }
                }
                &.completed{
                    .count{
                        span {
                            color: map_get($theme-colors, white);
                            background-color: map_get($theme-colors, primary);
                        }
                    }
                    .title{
                        color: map_get($theme-colors, primary);
                    }
                }
            }

        }
        .order-items {
            .item{
                @media (max-width: 575.98px){
                    font-size: 14px;
                }
                .img{
                    text-align: center;
                    background-color: map_get($theme-colors, lightgray);
                    border-radius: 10px;
                    img{
                        width: 80px;
                        height: 80px;
                        border-radius: 10px;
                        @media (max-width: 1199.98px) {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
                .pro-name {
                    @media (min-width: 576px){
                        max-width: 350px;
                        @include overflowTextVertical(1);

                    }
                    @media (max-width: 575.98px){
                        text-align: center;
                    }
                }
                .color{
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    margin-inline-start: 5px;
                    border-radius: 50%;
                }
            }
        }
    }
}
#order-bill{
    .bill-card{
        height: 100%;
        padding: 15px;
        font-weight: 600;
        background: map_get($theme-colors, lightgray);
        box-shadow: 0px 0px 6px 0px #00000029;
        border-radius: 10px;
        overflow: hidden;
        .order-items {
            .item{
                &:not(:last-child){
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    border-bottom: 1px solid #EBD8FF;
                }
                @media (max-width: 575.98px){
                    font-size: 14px;
                }
                .img{
                    text-align: center;
                    background-color: map_get($theme-colors, lightgray);
                    border-radius: 10px;
                    img{
                        width: 80px;
                        height: 80px;
                        border-radius: 10px;
                        @media (max-width: 1199.98px) {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
                .pro-name {
                    @media (min-width: 576px){
                        max-width: 350px;
                        @include overflowTextVertical(1);
                        
                    }
                    @media (max-width: 575.98px){
                        text-align: center;
                    }
                }
                .color{
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    margin-inline-start: 5px;
                    border-radius: 50%;
                }
                .btn-evaluation{
                    @media (max-width:575.98px){
                        width: 100%;
                    }
                }
            }
        }
    }
}
.orderReturnsModal{
 .order-item{
    position: relative;
    padding: 10px;
    font-weight: 600;
    background: map_get($theme-colors, lightgray);
    border-radius: 10px;
    overflow: hidden;
    .form-check {
        position: absolute;
        top: 0;
        left: 8px;
    }
    .img{
        img{
            width: 80px;
            height: 80px;
            border-radius: 10px;
            @media (max-width: 1199.98px) {
                width: 60px;
                height: 60px;
            }
        }
    }
    .form-label{
        font-size: 14px;
    }
    .form-control{
        padding: .3rem 0.5rem;
    }
    .pro-details{
        .pro-name{
            @include overflowTextVertical(2);
        }
    }
 }   
}

#offers{
    #filter-btn {
        background-color: #f9f9f9;
        width: fit-content;
        padding: 10px 30px;
        border-radius: 10px;
        margin-inline-start: auto;
        cursor: pointer;
    }
    #filter{
        padding: 15px;
        font-weight: 600;
        background: map_get($theme-colors, lightgray);
        border-radius: 10px;
        @media (max-width: 991.98px) {
            position: fixed;
            width: 100%;
            height: 350px;
            overflow: auto;
            bottom: 0;
            left: 0;
            z-index: 1030;
            transition: all .5s ease-in-out;
            transform: translateY(100%);
            box-shadow: 0px 4px 9px 0px #0000001A;
            &.open{
                transform: translateY(0);
            }
        }
        .accordion-item {
            background: transparent;
            margin-bottom: 10px;
            .accordion-button {
                padding: 5px 0;
                font-weight: 600;
                display: flex;
                justify-content: space-between;
                border: 0 !important;
                background: transparent;
                &:not(.collapsed) {
                    color: #000;
                    background: transparent;
                    box-shadow: unset;
                    &:after{
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                    }
                }
                &::after {
                    width: 1rem;
                    height: 1rem;
                    background-size: 1rem;
                    margin: 0;
                }
                &:focus{
                    box-shadow: unset;
                }
                &:hover{
                    color: map_get($theme-colors, primary);
                }
            }
            .accordion-body {
                padding: 5px 0;
                .form-check{
                    margin-bottom: 8px;
                    .form-check-input {
                        width: 1.25em;
                        height: 1.25em;
                        margin-top: 2px;
                    }
                }
                label{
                    color: map_get($theme-colors, darkGray);
                }
            }
        }
        @extend %rating;
        .rating-md {
            font-size: 14px;
        }        
    }
    #offers-list{
        .offer-card{
            position: relative;
            padding: 10px;
            height: 100%;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 4px 9px 0px #0000001A;    
            .img {
                border-radius: 10px;
                overflow: hidden;
                img {
                    width: 100%;
                    max-height: 200px;
                    aspect-ratio: 1 / 1;
                    object-fit: cover;
                    border-radius: 10px;
                    transition: all .4s ease-in-out;
                    @media (max-width: 575.98px) {
                        aspect-ratio: unset;
                    }
                }
            }
            .discount{
                padding: 3px 6px;
                font-size: 12px;
                color: #fff;
                background: #D71D1DBF;
                border-radius: 14px;
            }
            .type{
                font-size: 14px;
            }
            .offer-name{
                @include overflowTextVertical(1);
            }
            &:hover{
                .img{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

#products-list{
    .pro-card{
        position: relative;
        padding: 10px;
        height: 100%;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 4px 9px 0px #0000001A;
        .discount {
            position: absolute;
            top: 8px;
            left: 8px;
            padding: 3px 9px;
            font-size: 12px;
            z-index: 2;
            color: #fff;
            background: #D71D1DBF;
            border-radius: 14px;
        }
        .img {
            border-radius: 10px;
            overflow: hidden;
            img {
                width: 100%;
                max-height: 200px;
                aspect-ratio: 1 / 1;
                object-fit: cover;
                border-radius: 10px;
                transition: all .4s ease-in-out;
                @media (max-width: 575.98px) {
                    aspect-ratio: unset;
                }
            }
        }
        .pro-name{
            @include overflowTextVertical(1);
        }
        &:hover{
            .img{
                img{
                    transform: scale(1.1);
                }
            }
        }
    }
}

#product-details{
    .heading-title{
        span{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                bottom: -3px;
                width: 100%;
                height: 1px;
                background: map_get($theme-colors, primary);
            }
        }
    }
    #product-main-details {
        overflow: hidden;
        .slider-single {
            height: 380px !important;
            border: 1px solid rgba(map_get($theme-colors, darkGray), .2);
            border-radius: 8px;
            overflow: hidden;
            @media (max-width: 479.98px){
                height: 280px !important;
            }
            .slick-list,
            .slick-track{
                height: 100% !important;
            }
            .slick-slide {
                a {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
    
                img {
                    width: 100%;
                    @media (max-width: 1199.98px){
                        width: 300px;
                    }
                    @media (max-width: 479.98px){
                        width: 230px;
                    }
                }
            }
    
        }
    
        .slider-nav {
            .slider-track {
                width: 100%;
            }
    
            .slick-track {
                // display: flex;
    
                .slick-slide {
                    height: auto;
    
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 80px;
                        height: 80px;
                        min-height: 100%;
                        border-radius: 8px;
                        margin: 0 auto 10px;
                        overflow: hidden;
                        @media (max-width: 479.98px){
                            width: 65px;
                            height: 65px;
                        }
                        img {
                            width: 100%;
                            transition: all .3s ease-in-out;
                        }
                        &:hover{
                            img {
                                transform: scale(1.1);
                            }
                        }
                    }
    
                    &.is-active {
                        a {
                            border-color: map_get($theme-colors, primary) !important;
                        }
                    }
                }
            }
        }

        .product-info{
            .discount{
                color: #fff;
                background-color: #D71D1D;
                font-weight: 600;
                padding: 4px;
                border-radius: 10px;
            }
            @extend %rating;
            .rating-md{
                font-size: 18px;
            }
            .sizes {
                li {
                    width: 75px;
                    padding: 4px;
                    text-align: center;
                    font-weight: 600;
                    color: map_get($theme-colors, darkGray);
                    border: 1px solid map_get($theme-colors, darkGray);
                    border-radius: 5px;
                    &:hover,
                    &.selected{
                        color: map_get($theme-colors, primary);
                        border-color: map_get($theme-colors, primary);
                    }
                }
            }
            .plate{
                column-gap: 5px;
                label{
                    span {
                        display: inline-block;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
            }
            @extend %quantity;
        }
    }
    .reviews{
        .review-card{
            .img{
                img{
                    border-radius: 50%;
                    width: 65px;
                    aspect-ratio: 1 / 1;
                }
            }
            .date{
                font-size: 15px
            }
            @extend %rating;
            .rating-md{
                font-size: 18px;
            }
            &:not(:last-child){
                border-bottom: 1px solid map_get($theme-colors, lightgray);
            }
        }
    }
}

#cart{
    .card{
        padding: 20px;
        overflow: hidden;
    }
    .order-items {
        .item{
            &:not(:first-child){
                margin-top: 15px;
            }
            &:not(:last-child){
                padding-bottom: 15px;
                border-bottom: 1px solid #EBD8FF;
            }
            @media (max-width: 575.98px){
                font-size: 14px;
            }
            .img{
                text-align: center;
                background-color: map_get($theme-colors, lightgray);
                border-radius: 10px;
                img{
                    width: 60px;
                    height: 60px;
                    border-radius: 10px;
                    @media (max-width: 1199.98px) {
                        width: 45px;
                        height: 45px;
                    }
                }
            }
            .pro-name {
                @media (min-width: 576px){
                    max-width: 350px;
                    @include overflowTextVertical(1);
                    
                }
                @media (max-width: 575.98px){
                    text-align: center;
                }
            }
            .discount {
                font-size: 14px;
            }
            .color{
                width: 15px;
                height: 15px;
                display: inline-block;
                margin-inline-start: 5px;
                border-radius: 50%;
            }
            .pro-details,
            .old-price{
                color: map_get($theme-colors, darkGray);
            }
            &.gift{
                padding: 8px;
                margin-top: 0;
                background: rgba(map_get($theme-colors, primary), .4);
                border-radius: 10px;
                .pro-details,
                .old-price{
                    color: map_get($theme-colors, dark);
                }
                .quantity{
                    display: block;
                    width: 98px;
                    text-align: center;
                    border: 1px solid #000000;
                    border-radius: 8px;
                }
            }
        }
    }
    .quantity {
        height: 35px;
        padding: 5px;
        margin-block: 10px;
        display: flex;
        justify-content: space-between;
        border: 1px solid rgba(map_get($theme-colors, darkGray), .2);
        border-radius: 8px;
        @media (max-width: 575.98px) {
            width: fit-content;
            margin-inline: auto;
        }
        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: unset;
        }
        .qtyminus,
        .qtyplus{
            font-size: 18px;
            border: 0;
            background-color: transparent;
            line-height: 1;
            &:hover{
                color: map_get($theme-colors, primary);
            }
        }
    
        .qty {
            border: none;
            text-align: center;
            max-width: 45px;
            background: transparent;
        }
    }
}

#checkout {
    .address-card{
        table {
            td{
                &:first-child {
                    text-wrap: nowrap;
                    padding-inline-end: 10px;
                }
            }
        }
        .add-name{
            @include overflowTextVertical(1);
        }
    }
    .pro-card {
        .specific{
            font-size: 14px;
            color: map_get($theme-colors, darkGray);
        }
        @extend %quantity;
        .quantity{
            margin: 10px auto;
        }
    }
}

#brand-offers{
    .offer-banner{
        overflow: hidden;
        border-radius: 10px;
        img {
            border-radius: 10px;
            transition: all .4s ease-in-out;
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}

#depts{
    .dept-card{
        height: 100%;
        .img{
            padding: 10px;
            text-align: center;
            background-color: map_get($theme-colors, lightgray);
            border: 1px solid #D9D9D9;
            border-radius: 10px;
            img{
                max-width: 100%;
                min-height: 150px;
                max-height: 200px;
            }
        }
    }
}

#blog-tabs{
    .owl-carousel {
        .owl-stage {
            display: flex;
            .item{
                height: 100%;
            }
        }
    }
    .blog-name{
        margin: 3px;
        padding: 3px;
        height: calc(100% - 6px);
        background: map_get($theme-colors, lightgray);
        border: 1px solid map_get($theme-colors, lightgray);
        border-radius: 10px;
        box-shadow: 0px 0px 4px 0px #00000029;
        cursor: pointer;
        img{
            width: 30px;
            aspect-ratio: 1/1;
            border-radius: 50%;
        }
        &:hover,
        &.active{
            color: map_get($theme-colors, primary);
            border-color: map_get($theme-colors, primary);
        }
    }
}
#blog-list{
    .blog-card{
        height: 100%;
        padding: 10px;
        border: 1px solid #E7E7E7;
        border-radius: 10px;
        box-shadow: 0px 0px 6px 0px #00000029;
        .img{
            overflow: hidden;
            border-radius: 10px;
            img{
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 10px;
                transition: all .3s ease-in-out;
            }
        }
        .blog-title{
            @include overflowTextVertical(1);
        }
        .blog-desc{
            @include overflowTextVertical(3);
        }
        &:hover{
            .img{
                img{
                    transform: scale(1.1);
                }
            }
        }
    }
}

.modal{
    .modal-dialog{
        .modal-content{
            padding: 15px;
            border-radius: 24px;
            .close {
                position: absolute;
                top: -19px;
                right: 27px;
                width: 38px;
                height: 38px;
                padding: 0;
                background: #fff;
                border: none;
                border-radius: 50%;
                .icon{
                    border: 1px solid #ddd;
                    border-radius: 50%;
                    i{
                        color: map_get($theme-colors, primary);
                    }
                }
            }
            @extend %rating;
            .rating-md{
                font-size: 20px;
            }
        }
    }
}



.rtl {
    .owl-carousel{
        .owl-nav {
            button {
                i {
                    transform: scaleX(-1);
                }
            }
        }
    }
    .overlay {
        left: 0;
        right: auto;
        -webkit-transform-origin: right;
        transform-origin: right;
    }
    .modal{
        .modal-dialog{
            .modal-content{
                .close {
                    right: auto;
                    left: 27px;
                }
            }
        }
    }
    #header {
        .top-header {
            .user-account{
                .dropdown {
                    right: auto;
                    left: -20px;
                }
            } 
        }
    }
    #mobile-header {
        .menu-icon {
            span {
                left: auto;
                right: 0;
            }
        }
        #main-menu{
            right: auto;
            left: -200px;
        }
    }
    #most-requested,
    #brand-products,
    #dept-products {
        .pro-card {
            .pro-header {
                .btn-wishlist {
                    right: auto;
                    left: 5px;
                }
            }
        }
    }
    #login-card {
        .form-input {
            .icon {
                right: auto;
                left: 15px;
            }
        }
    }
    .orderReturnsModal{
        .order-item{
            .form-check {
                left: auto;
                right: 8px;
            }
        }
    }
    #latest-offers,
    #products-list {
        .pro-card {
            .discount {
                left: auto;
                right: 8px;
            }
        }
    }
    #checkout{
        .cart-title{
            i{
                transform: scaleX(-1);
            }
        }
    }
    footer {
        #footer {
            .title{
                &::before{
                    left: auto;
                    right: 0;
                }
            }
        }
    }
}